<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo resumir textos</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link href="{{ url_for('static' , filename='css/index.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="clf-container">
    <h1>Aplicación para resumir textos</h1>
    <div>
        <p>El formulario recibe texto y retorna un resumen usando Bert, a través de un llamado a una API, también en Flask.</p>
    </div>
    <form action="{{ url_for('upload_texto') }}" class="form-classifier" enctype="multipart/form-data" method="post">
        <textarea name="text" id="texto"></textarea>
        <button class="hvr-grow-shadow" type="submit">Enviar</button>
    </form>
    {% if result is not none %}
    <div class="response response-ok">
        Resumen: <p>{{result}}</p>
    </div>
    {% else %}
    <div class="response response-error">
        Error al resumir el texto.
    </div>
    {% endif %}
    {% if not filename and error %}
    <div class="response response-ok">
        Error: {{error}}
    </div>
    {% endif %}
</div>
</body>
</html>
