[Unit]
Description=task que sube servidor para flask de app2-ia
After=network.target

[Service]
WorkingDirectory=%h
ExecStart=%h/ejercicio3/subir_app2-ia.sh
ExecStop=%h/ejercicio3/bajar_app2-ia.sh
Type=simple
KillMode=process
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
